/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/*reset css*/

del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd,
fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed,
time, mark, audio, video {margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;	vertical-align: baseline;} 
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}blockquote, 
q {quotes: none;}blockquote:before, blockquote:after,q:before, q:after {content: '';content: none;}
table {border-collapse: collapse;border-spacing: 0;}

h1{
	background-color: #C40233;
	border: 5em;
	margin-right: 0.125em;
	padding-bottom: 0.25em;
	color: white;
	font-family: 'Slabo 27px', serif;
	font-size: 2em;
	font-style: bold;
	min-width: 80%
}

h2,h3{
	font-family: 'Slabo 27px', serif;
	font-size: 1.5em;
	m-width: inherit;
}

p{
	font-family: 'Lato', sans-serif;
		min-width: inherit;
}

label{
	display: block;
	font-family: 'Lato', sans-serif;
		min-width: inherit;
}

input{
border: none;
background-color:#FFFFB5;
}


/* list items*/
ol{
	margin: 0;
	margin-left: -1.5em;
	padding-bottom: 1em;
	font-family: 'Lato', sans-serif;
	font-size: 1em;

}

/*html {
    background-image: url(//basehold.it/i/24); // 24px baseline
    background-image: url(//basehold.it/i/24/ff0000); // with Hex colour
    background-image: url(//basehold.it/i/24/255/0/0); // with RGB colour
    background-image: url(//basehold.it/i/24/255/0/0/0.85); // with RGBA colour


    Ask about this and why won't the silly thing work
}*/

#space{
	padding: 0.12em;
}


#submit{
	background-color: #C40233;
	font-family: 'Lato', sans-serif;
    color: white;
    padding:0.5em;
    text-align: center;
	line-height: inherit;
	display: block;
}
